@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Rubik", sans-serif;
  --font-display: "Sora", sans-serif;
  --font-mono: "DM Mono", monospace;
}

body {
  font-family: var(--font-sans);
  color: rgb(var(--foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

code,
pre {
  font-family: var(--font-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.safe-area-spacer {
  padding-bottom: env(safe-area-inset-bottom, 0);
}

/*@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .safe-area-spacer {
    padding-bottom: 34px; /* Default safe area for iPhone X and newer */
  

