@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Rubik", sans-serif;
  --font-display: "Sora", sans-serif;
  --font-mono: "DM Mono", monospace;
}

body {
  font-family: var(--font-sans);
  color: rgb(var(--foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

code,
pre {
  font-family: var(--font-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
  /* iPhone X/XS/11 Pro */ only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
  /* iPhone XR/11 */ only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3),
  /* iPhone 12/13 Pro,
  iPhone 14/15 */ only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3),
  /* iPhone 12/13 Pro Max,
  iPhone 14 Plus/15 Plus */ only screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3),
  /* iPhone 14 Pro/15 Pro,
  iPhone 16 */ only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3),
  /* iPhone 14 Pro Max/15 Plus/15 Pro Max,
  iPhone 16 Plus */ only screen and (device-width: 402px) and (device-height: 874px) and (-webkit-device-pixel-ratio: 3),
  /* iPhone 16 Pro */ only screen and (device-width: 440px) and (device-height: 956px) and (-webkit-device-pixel-ratio: 3) /* iPhone 16 Pro Max */ {
  .safe-area-spacer {
    padding-bottom: 20px;
  }
}
