@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Rubik", sans-serif;
  --font-display: "Sora", sans-serif;
  --font-mono: "DM Mono", monospace;
}

body {
  font-family: var(--font-sans);
  color: rgb(var(--foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

code,
pre {
  font-family: var(--font-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@supports (padding: max(0px)) {
  .safe-area-spacer {
    padding-bottom: max(0px, env(safe-area-inset-bottom));
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
